html { 
  background: url(../Images/Donor_Assets/Hanley_Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* { margin: 0; padding: 0; font-family: Helvetica;
}

.footer {
    height:50px;
    position: fixed;
    bottom:170px;
    width: 100%;
}

footer {
    margin: 100px auto;
    padding-left: 130px;
    width: 1080px;
    height: 210px;
}
div.menubar {
    width: 180px; height: 210px;
    float: left;
    transition:height .4s;
}
div.one {
    background-color:LightSteelBlue;
}
div.two {
    background-color:lightblue;
}
div.three {
    background-color:darkgray;
}
div.four {
    background-color:tan;
}
div.five {
    background-color:Silver;
}
img.icon {
    display: block;
    width: 40px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255,255,255,.3);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
    transition:box-shadow .4s;

}
p.label {
    font-size: 1.1em;
    color: black;
    text-align: center;
    opacity: .6;
    padding-top:10px;
    position:relative;
    transition: padding-top .4s;
}
div.menubar:hover {
    height: 230px;
}
div.menubar:hover p.label {
    padding-top: 30px;opacity: 1;
}
div.menubar:hover img.icon {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .7);
}