.footer {
    height:50px;
    position: fixed;
    bottom:120px;
    width: 100%;
}

footer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 680px;
    width: 1080px;
}
div.menubar {
    width: 180px; height: 210px;
    float: left;
    transition:height .4s;
}

img.icon {
    display: block;
    width: 40px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255,255,255,.3);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
    transition:box-shadow .4s;

}
p.label {
    font-size: 1.1em;
    color: black;
    text-align: center;
    opacity: .6;
    padding-top:10px;
    position:relative;
    transition: padding-top .4s;
}
div.menubar:hover {
    height: 230px;
}
div.menubar:hover p.label {
    padding-top: 30px;opacity: 1;
}
div.menubar:hover img.icon {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .7);
}